* {
    box-sizing: border-box;
    /* background-color: beige; */
    /* font-family: "OrangeKid"; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

     /* Change later */
    margin: 0;
    padding: 0;
    /* font-size: 32px; */
}

html {
    font-size: 32px; /* Base font size */
}

/* Gets rid of annoying checkbox highlighting */
.form-check-input:focus {
  box-shadow: none;
  outline: none;
}

#date-selector .btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.5rem 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Active day */
#date-selector .btn-primary {
    background-color: #f5f5fc;
    color: #000;
    border: none;
}

/* Inactive days */
#date-selector .btn-outline-secondary {
    background-color: transparent;
    color: #666;
    border: none;
}

/* Su M Tu ... */
#date-selector small {
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 0.1rem;
}

/* Numbered days */
#date-selector strong {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Circular button */
.btn-circle {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
}

/* Progress Bar */
.progress-wrapper {
    margin: 10rem;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }
}
